/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Bungee', cursive;
$headingTextShadow:
  0 1px 0 #969696,
  0 2px 0 #878787,
  0 3px 0 #737373,
  0 4px 0 #646464,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15)
  !important;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: rgba( $linkColor, 0.75 );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

h1, h2 {
  line-height: 1;
  text-shadow:
    0 1px 0 #969696,
    0 2px 0 #878787,
    0 3px 0 #737373,
    0 4px 0 #646464,
    0 5px 0 rgba(0,0,0,.09),
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15)
    !important;
}

h3, h4 {
  text-shadow: none !important;
  color: rgb(205,205,255) !important;
}

.script {
  font-family: 'Kaushan Script', cursive;
  font-size: 60%;
  text-transform: none;
  display: block;
  text-shadow: none;
  color: rgb(205,205,255);
  margin-bottom: -15px;
  text-shadow:
    0 1px 0 rgb(115,115,255),
    0 2px 0 rgb(85,85,255),
    0 3px 0 rgb(50,50,255),
    0 4px 0 rgb(35,35,255),
    0 5px 0 rgb(0,0,255),
    0 0 5px rgb(35,35,255),
}